body {
	background:#aaaaaa;
	color: $000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
	}
	
/* Headings	*/
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em} /* 14px */

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}
	
/* Anchors? Not sure what they're for */

a:link, a:visited{
	color: #AF43AA;
	padding: 0 1px;
	text-decoration: underline;
}
	
a:hover, a:active{
	background-color: #aaabbb;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
 
strong, b {font-weight: bold;}
em, i {font-style: italic;}
	 
::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}
 
/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}
	 
ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}
	 
/* Quotes */
blockquote {font-style: italic;}
cite {}
 
q {}
 
/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
 
    /* Thead */
    thead th {padding: .5em .4em; text-align: left;}
    thead td {}
 
    /* Tbody */
    tbody td {padding: .5em .4em;}
    tbody th {}
 
    tbody .alt td {}
    tbody .alt th {}
 
    /* Tfoot */
    tfoot th {}
    tfoot td {}
	
/* letting me use tags instead of just div */
header, section, footer, nav{
	display: block;
}

/* settings for "body" class */
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/* header prefs */

#BigTitle{
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	#BigTitle h1{font-size: 3.571em; line-height: .6;}
	#BigTitle h1 a:link, #BigTitle h1 a:visited {
		color: #123456;
		display: block;
		font-weight: bold;
		margin: 0 0 .5em .25em; /* originally .6 and .2em*/
		text-decoration:none;
		width: 427px;
	}
	
	#BigTitle h1 a:hover, #BigTitle h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	#BigTitle h1 strong{ font-size: 0.36em; font-weight: normal;}

.MenuLinks{
	background: #000000;
	color:#333333;
	font-family: courier,serif;
	width: 800px;
	float: left;

}
nav ul {list-style: none; margin: 0 auto; width: 800px;}
nav li {float: left; display: inline; margin: 0;}
	
	

