/*Chris Ventura - CSCI446 */
body {
	background:#aaaaaa;
	/*color: $000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: Calibri, sans-serif;
	line-height: 1.429;
	margin-left: 38px;
	padding: 0;
	text-align: left;
	border-width:1px;
	
	border-style: solid;
	}
	
/* Headings	*/
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em} /* 14px */

h1, h2, h3, h4, h5, h6 {
    /*font-weight: 400;*/
    /*line-height: 1.1;*/
    margin: 0 auto;
}

h5{ font-weight: 400;}
	
/* Anchors? Not sure what they're for */
/*
a:link, a:visited{
	color: #AF43AA;
	padding: 0 1px;
	text-decoration: underline;
}
	
a:hover, a:active{
	background-color: #aaabbb;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
*/
/* Paragraphs */

p {margin: 5px;}

 
strong, b {font-weight: bold;}
em, i {font-style: italic;}
/*	 
::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}
 */
/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}
	/* 
ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}
*/ 

/* Quotes */ /*
blockquote {font-style: italic;}
cite {}
 
q {}
 */

/* Tables *//*
table {margin: .5em auto 1.5em auto; width: 98%;}
 
    /* Thead *//*
    thead th {padding: .5em .4em; text-align: left;}
    thead td {}
 
    /* Tbody *//*
    tbody td {padding: .5em .4em;}
    tbody th {}
 
    tbody .alt td {}
    tbody .alt th {}
 
    /* Tfoot *//*
    tfoot th {}
    tfoot td {}
	*/
/* letting me use tags instead of just div */
header, section, footer, nav{
	display: block;
}

/* settings for "body" class */
.body {clear: both; margin: 0 ; width: 940px; }
/*
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}
*/
/* header prefs */

#BigTitle{
	padding: 10px;
	margin: 0;
	/*padding: 2.5em 0 0 0;*/
	background: #CCCCCC;
	float:left;
}

	#BigTitle h1{font-size: 22; margin:0 auto;}
	#BigTitle h5{font-size: 12; color:#666666; margin: 0;}
	/*
	#BigTitle h1 a:link, #BigTitle h1 a:visited {
		color: #123456;
		display: block;
		font-weight: bold;
		margin: 0 0 .5em .25em; /* originally .6 and .2em
		text-decoration:none;
		width: 427px;
	}
	
	#BigTitle h1 a:hover, #BigTitle h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	
	#BigTitle h1 strong{ font-size: 0.36em; font-weight: normal;}
	*/
.MenuLinks{
	padding: 0;
	background: #000000;
	color:#FFFFFF;
	font-family: calibri,sans-serif;
	width: 960px;
	float: left;

}
.MenuLinks nav{ 
	background: #000000;
	/*border-radius:5px 5px 5px 5px;*/
	padding: 10px;
	width: 940px;
	text-align: left;
}

.MenuLinks nav ul {margin: 0 0 0 0; width: 960px; padding: 0;}
.MenuLinks nav li {float: center; display: inline; margin-left: 20px; letter-spacing: -1px; font-weight: bold;}
.MenuLinks nav li:first-child{margin-left: 0;}
.MenuLinks nav a:link,a:visited{
	color: #F0F0F0;
	display: inline;
	/*	height: 28px;*/
	/*padding: 5px 1.5em;*/
	text-decoration: none;
	margin: 0 auto;
}
.MenuLinks nav a:hover{ color: #F7B3DA;}
	
#feeling {
	float: left;
	background: #FCFCFC;
	padding: 10px;

}	

#feeling .feelerator	{
	background: #FCFCFC;
	padding: 0;
	margin: 0px;
	float: left;
	width: 600px;
}

.questions{
	margin: 0px;
	float: left;
	width: 200px;
	padding: 0;
}

.fillin{
	margin: 0px;
	float: right;
	width: 400px;
	padding: 0;
}
.fillin  ul {margin: 0 0 0 0; width: 400px; padding: 0;}
.fillin  li {float: left; display: inline; padding: 5px; width: 390px;}


#feeling .aside{
	margin: 0;
	float: right;
	width: 340px;
	background: #F0F0FF;
}
#feeling .aside h4,h5{ margin-left: 5px}

#copyright {
	margin: 0;
	float: left;
	width: 960px;
	background: #F0F0F0;
	text-align: center;
	padding: 0;
}
