/* I pulled out a bunch of things that I didn't think mattered for my needs,
as well as added formatting for the third block. */
body {
	background:#aaaaaa;
	color: $000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Arial, sans-serif;
	line-height: 1.429;
	margin: 38px;
	padding: 0;
	text-align: left;
	}
	
/* Headings	*/
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em} /* 14px */

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}
	
/* Anchors? Not sure what they're for */
/*
a:link, a:visited{
	color: #AF43AA;
	padding: 0 1px;
	text-decoration: underline;
}
	
a:hover, a:active{
	background-color: #aaabbb;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
*/
/* Paragraphs */
/*
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
 
strong, b {font-weight: bold;}
em, i {font-style: italic;}
	 
::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}
 */
/* Lists *//*
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}
	 
ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}
*/ 

/* Quotes */ /*
blockquote {font-style: italic;}
cite {}
 
q {}
 */

/* Tables *//*
table {margin: .5em auto 1.5em auto; width: 98%;}
 
    /* Thead *//*
    thead th {padding: .5em .4em; text-align: left;}
    thead td {}
 
    /* Tbody *//*
    tbody td {padding: .5em .4em;}
    tbody th {}
 
    tbody .alt td {}
    tbody .alt th {}
 
    /* Tfoot *//*
    tfoot th {}
    tfoot td {}
	*/
/* letting me use tags instead of just div */
header, section, footer, nav{
	display: block;
}

/* settings for "body" class */
.body {clear: both; margin: 0 auto; width: 960px;}
/*
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}
*/
/* header prefs */

#BigTitle{
	margin: 0 auto;
	/*padding: 2.5em 0 0 0;*/
	background: #CCCCCC;
	float:left;
}

	#BigTitle h1{font-size: 3.571em; line-height: .6;}
	#BigTitle h5{font-size: 1.5em; color:#666666;}
	/*
	#BigTitle h1 a:link, #BigTitle h1 a:visited {
		color: #123456;
		display: block;
		font-weight: bold;
		margin: 0 0 .5em .25em; /* originally .6 and .2em
		text-decoration:none;
		width: 427px;
	}
	
	#BigTitle h1 a:hover, #BigTitle h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	
	#BigTitle h1 strong{ font-size: 0.36em; font-weight: normal;}
	*/
.MenuLinks{
	background: #000000;
	color:#FFFFFF;
	font-family: courier,serif;
	width: 960px;
	float: left;

}
.MenuLinks nav{ 
	background: #000000;
	border-radius:5px 5px 5px 5px;
	width: 960px;
	text-align: center;
}

.MenuLinks nav ul {list-style: none; margin: 0 auto; width: 960pxf;}
.MenuLinks nav li {float: left; display: inline; margin: 0;}
.MenuLinks nav a:link,a:visited{
	color: #F0F0F0;
	display: inline-block;
	height: 28px;
	padding: 5px 1.5em;
	text-decoration: none;
}
	
#feeling {
	float: left;
	background: #FCFCFC;
}	

#feeling .feelerator	{
	background: #FCFCFC
	margin: 0px;
	float: left;
	width: 610px;
}

.questions{
	margin: 0px;
	float: left;
	width: 210px;
}

.fillin{
	margin: 0px;
	float: right;
	width: 400px;
}

#feeling .aside{
	margin: 0;
	float: right;
	width: 350px;
	background: #F0F0FF;
}

