<h1>Goodbye!</h1>
<p>
   It was nice having you here.
</p>
<p>
 Say <%= link_to "Hello", say_hello_path %>
 Addition: <%= 1 + 2 %>
 Concatenation: <%= "cow" + "boy" %>
 Time in one hour: <%= 1.hour.from_now %>
</p>

